body {
    font-family: Arial, sans-serif;
    color: white;
    background-image: url("IMG_0440.webp");
    background-size: cover;
}

.Main-Header {
    background: rgb(51, 51, 51, 0.2);
    border-radius: 10px;
    padding: 40px;
    margin-top: 20px;
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.3);
    text-align: center;
    max-width: 400px;
}

.Profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  border: 2px solid white;
  animation: breathe 4s ease-in-out infinite;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.Name {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow{
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff, 0 0 80px #ffffff;
    }
}

.Contacts img {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    padding: 10px;
    color: white;
    filter: drop-shadow(0 0 10px #fff);;
    
}